<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catering Co. | Customer Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/CSS/forms.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Catering Co.</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="event_scheduler">Schedule New Events</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="logout">
                        <span class="glyphicon glyphicon-log-out"></span> Log Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <div class='container'>
        <h1 id='displayDate'></h1>
        <h3 id='noEvents'>You currently do not have any created events</h3>
        <form id='signInForm' name='signInForm' method="POST">
            <table class="table table-responsive table-hover" id='tblEvents'>
                <tr>
                    <th>
                        Event Title
                    </th>
                    <th>
                        Scheduled Date
                    </th>
                    <th></th>
                </tr>
                {% if events %}
                    {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.dateEntered }}</td>
                        <td style="width:15%">
                            <button class="btn btn-lg btn-danger btn-block" name='delete' value={{ event.event_id }} type="submit">Cancel Event</button>
                        </td>
                    {% endfor %}
                {% endif %}
                </tr>
            </table>
        </form>

    </div>
    <script type="text/javascript" src='../static/javascript/greeting.js'>
    </script>
    <script type="text/javascript">
        showDate();
        hideTable();

        function hideTable() {
            let numEvents = $('#tblEvents tbody tr');

            if(numEvents.length > 1) {
                $('#noEvents').hide();  
            } else {
                $('#tblEvents').hide(); 
            }
        }
    </script>
</body>

</html>