<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Catering Co. | Login</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../static/CSS/forms.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Catering Co.</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="register">
            <span class="glyphicon glyphicon-user"></span> Register New User</a>
        </li>
      </ul>
    </div>
  </nav>

  {% if error %}
    <div class="alert alert-danger" role="alert">
      <strong>Oh no!</strong> {{ error }}
    </div>
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        <strong>Success!</strong> {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container">
    <form class="form-signin" id='signInForm' name='signInForm' method="POST">
      <h1 class="form-signin-heading">Welcome to Catering Co!</h1>
      <h2>Please Sign In</h2>
      <label for="inputUserName" class="sr-only">Username</label>
      <input type="text" id="inputUserName" name='username' class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      <button class="btn btn-lg btn-primary btn-block" type="button" id="btnRegister">Register New User</button>
    </form>
  </div>
  <script type='text/javascript' src='../static/javascript/login.js'>
  </script>
</body>

</html>